<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'top.png'%>
    </div>
    <div class="col-md-6"></div>
      <h1>a</h1>
  </div>
</div> -->
<div class="d-flex">
  <%= image_tag 'top.png'%>
  <div class="my-auto ">
    <h1>Hi, Railser</h1>
    <h1>Welcome To Railser</h1>
  </div>  
</div>
